{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

<div class="container">

  {% include 'partials/_messages.html' %}

<div class="mt-4 task-text">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-chevron p-3 bg-dark-subtle rounded-3">
        <li class="breadcrumb-item">
          <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'crms' %}">Customers</a>
        </li>
        <li class="breadcrumb-item">
          <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'note_list' %}">Notes</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Tasks-lists
        </li>
      </ol>
    </nav>
</div>

<!-- <div class="d-flex justify-content-end flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom searchtask">
  <div class="btn-toolbar mb-2 mb-md-0 d-none d-md-inline">
    <div class="btn-group me-2">
      <input class="form-control form-control-sm me-2 focus-ring focus-ring-dark border-dark-subtle" type="search"
        placeholder="Search" aria-label="Search">
      <button type="button" class="btn btn-sm btn-outline-secondary">Search</button>
    </div>
  </div>
</div> -->
    
  <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

    <div class="card border-0 mt-5 taskcard" style="background-color: var(--bs-bg-dark);min-height: 100vh;">

        {% for task in tasks %}

          <div class="hstack gap-2 mb-2">
            <div class="px-2 py-1 me-auto bg-info bg-opacity-75 border border-0 rounded-end" style="width: 90%;">
              <p class="text-break">
                <span class="fw-semibold">{{ task.note.customer.com_name }} | </span>
                <span id="taskChange">{{ task.note.note }}</span>
              </p>
            </div>
            {% if task.note.assigned_by == user %}
            <!-- <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
             data-bs-target="#taskModal"><i class="bi bi-check2-all"></i></button>
             
             <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel"
             aria-hidden="true">
             <div class="modal-dialog">
               <div class="modal-content bg-success">
                 <div class="modal-header">
                   <h1 class="modal-title fs-5" id="taskModalLabel">Complete Task</h1>
                   <button type="button" class="btn-close focus-ring focus-ring-secondary" data-bs-dismiss="modal"
                     aria-label="Close"></button>
                 </div>
                 
                 <div class="modal-footer">
                   <a href="" class="btn btn-sm btn-success" id="taskMarkBtn">
                    <i class="bi bi-check2"></i> Done</a>
                 </div>
               </div>
             </div>
           </div> -->
    
            <!-- <div class="vr"></div> -->
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" 
            data-bs-target="#dtaskModal"><i class="bi bi-trash2-fill"></i></button>
             <!-- Modal -->
             <div class="modal fade" id="dtaskModal" tabindex="-1" aria-labelledby="dtaskModalLabel"
             aria-hidden="true">
             <div class="modal-dialog">
               <div class="modal-content bg-dark text-light">
                 <div class="modal-header">
                   <h1 class="modal-title fs-5" id="dtaskModalLabel">Remove Task</h1>
                   <button type="button" class="btn-close focus-ring focus-ring-secondary" data-bs-dismiss="modal"
                     aria-label="Close"></button>
                 </div>
                 
                 <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-dark" data-bs-dismiss="modal"><i
                    class="bi bi-x-lg"></i> Return</button>
                   <a href="{% url 'delete_task' task.note.id %}" class="btn btn-sm btn-danger">
                    <i class="bi bi-check2"></i> Confirm</a>
                 </div>
               </div>
             </div>
           </div>
            {% else %}
            <p class="fw-semibold text-primary">{{ task.note.assigned_by.username }}</p>
            {% endif %}
          </div>
        <hr class="text-light">
      {% endfor %}
    </div>

  
</div>
<script src="https://unpkg.com/scrollreveal"></script>

<!-- <script src="{% static 'js/task.js' %}"></script> -->


{% endblock %}