{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

<div class="container" style="min-height: 100vh;">

  <form action="{% url 'cs_search' %}">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 cslink">
    
    <a href="{% url 'add_customer' %}" class="btn btn-sm btn-secondary">
      <svg class="bi"><use xlink:href="#plus-circle" /></svg>
      Add New Customer
    </a>

    <div class="btn-toolbar mb-2 mb-md-0 d-none d-md-inline">
      <div class="btn-group me-2">
          <input class="form-control form-control-sm me-2 focus-ring focus-ring-dark border-dark-subtle" type="search" name="search" 
          placeholder="Search" aria-label="Search">
          <button type="submit" class="btn btn-sm btn-outline-secondary">Search</button>
      </div>
    </div>
  </div>
</form>

    <div class="csbox">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-dark-subtle rounded-3">
          <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'crms' %}">Customers</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Lists
          </li>
        </ol>
      </nav>
    </div>

      {% include 'partials/_messages.html' %}

      <div class="overflow-x-auto cstable">
        <table class="table table-dark table-bordered table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Company Name</th>
              <th scope="col">Customer Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Address</th>
              <th scope="col">Industry</th>
              <th scope="col">Modified_date</th>
              <th scope="col">Created_date</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            {% for customer in customers %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <th class="text-primary">{{customer.com_name}}</th>
              <td>{{customer.cs_name}}</td>
              <td>{{customer.email}}</td>
              <td>{{customer.phone}}</td>
              <td>{{customer.address}}</td>
              <td>{{customer.industry}}</td>
              <td class="text-success">{{customer.modified_date}}</td>
              <td class="text-info">{{customer.created_date}}</td>
              <td>
                <a href="{% url 'edit_customer' customer.id %}" class="ms-3 btn btn-sm btn-primary"><i class="bi bi-pencil"></i> Edit</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>


      <div class="pagination d-flex justify-content-between" style="color: rgb(232, 51, 130);">
        
            <div>
              {% if customers.has_previous %}
                <a href="?page=1">&laquo; first</a>&nbsp;&nbsp;
                <a href="?page={{ customers.previous_page_number }}">&lsaquo; previous</a>
              {% endif %}
            </div>
    
            {% if cls %}
            <div class="d-none">
              <span class="current">
                Page {{ customers.number }} of {{ customers.paginator.num_pages }}
              </span>
            </div>
            {% else %}
            <div>
              <span class="current">
                Page {{ customers.number }} of {{ customers.paginator.num_pages }}
              </span>
            </div>
            {% endif %}
            
    
            <div>
              {% if customers.has_next %}
                <a href="?page={{ customers.next_page_number }}">next &rsaquo;</a>
                &nbsp;&nbsp;
                <a href="?page={{ customers.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </div>
          
    </div>
    
  <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

</div>
<!-- <script src="https://unpkg.com/scrollreveal"></script>

<script src="{% static 'js/cs.js' %}"></script> -->

{% endblock %}